<div class="content-wrapper pb-0">
  <div class="page-header flex-wrap pb-0">
    <h3 class="mb-0">
      Edit Contractor <br>
      <span class="pl-0 h6 text-sub d-inline-block">Update contractor details</span>
    </h3>
    <div class="d-flex">
      <ul class="breadcrumb">
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/contractors">Contractor management</a></li>
        <li>Edit contractor</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Enter contractor details</h4>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-outer-block mt-4 col-margin-bottom">
              <div class="row">
                <div class="col-xl-4  col-md-6">
                  <app-mat-input label="Contractor Name" formControlName="contractorName" [required]="true" [formControl]="contractorNameControl"></app-mat-input>
                </div>
                <div class="col-xl-4  col-md-6">
                  <app-mat-input label="Contact Person" formControlName="contactPerson" [required]="true" [formControl]="contactPersonControl"></app-mat-input>
                </div>
                <div class="col-xl-4  col-md-6">
                  <app-mat-input label="Email" formControlName="email" [required]="true" type="email" [formControl]="emailControl"></app-mat-input>
                </div>
                <div class="col-xl-4  col-md-6">
                  <app-mat-input label="Phone Number" formControlName="phoneNumber" [required]="true" [formControl]="phoneNumberControl"></app-mat-input>
                </div>
                <div class="col-md-12">
                  <app-mat-input label="Address" formControlName="address" [required]="true" [formControl]="addressControl"></app-mat-input>
                </div>
                <div class="col-xl-12 form-btns-bottom mt-3">
                  <div class="d-flex justify-content-end gap-2">
                    <a class="btn btn-primary secondary-line-btn-cancel" [routerLink]="['/contractors']">Cancel</a>
                    <mat-button class="savebtn-supplier ms-2" [type]="'submit'" [loading]="submitting" [disabled]="form.invalid">Update</mat-button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


